.advantages {
  max-width: 500px;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  .margin-auto;
  @media (min-width: @tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (min-width: @desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.advantages__title {
  .title;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  .text;
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4 , 1fr);
  }
}

.advantages__item {
  position: relative;
  box-sizing: border-box;
  min-height: 60px;
  margin-bottom: 26px;
  padding-left: 80px;

  &::before {
    position: absolute;
    left: 0px;
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-color: @green;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--healthy::before {
    background-image: url(../img/icon-healthy-mobile.svg);
  }

  &--fast::before {
    background-image: url(../img/icon-fast-mobile.svg);
  }

  &--easy::before {
    background-image: url(../img/icon-easy-mobile.svg);
  }

  &--result::before {
    background-image: url(../img/icon-result-mobile.svg);
  }
}


