.button {
  font-family: "Oswald", "Arial", sans-serif;
  color: @white;
  text-align: center;
  background-color: @green;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
}

.button--show-more {
  color: @grey-light;
  background-color: @concrete;
}
