.button {
  font-family: "Oswald", "Arial", sans-serif;
  color: @white;
  text-align: center;
  background-color: @green;
  border: none;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background-color: #5eaa2f;
  }

  &:focus {
    outline: 2px solid @grey-light;
    outline-offset: -2px;
  }

  &:active {
    color: rgba(@white, 0.3);
    background-color: #5eaa2f;
  }
}

.button--show-more {
  color: @grey-light;
  background-color: @concrete;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(@grey-light, 0.3);
    background-color: #ebebeb;
  }
}
