.cards-optional {
  max-width: @max-width-mobile;
  .margin-auto;
  margin-bottom: 33px;
  .padding-mobile;

  @media (min-width: @tablet-width) {
    max-width: @max-width-tablet;
    .padding-tablet;
    margin-bottom: 67px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 86px;
    padding: 0;
    max-width: none;
  }
}

.cards-optional__title {
  margin-top: 24px;
  margin-bottom: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    margin-bottom: 80px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 81px;
  }
}
