.card-optional {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "parameters"
    "button";
  padding-top: 13px;
  padding-bottom: 19px;
  border-top: 1px solid @silver;

  @media (min-width: @tablet-width) {
    grid-template-areas: "title parameters" "button button";
    padding: 25px 38px 29px;
    border-left: 1px solid @silver;
    border-right: 1px solid @silver;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 288px 245px;
    grid-template-areas: "title parameters button";
    column-gap: 34px;
    align-items: baseline;
    padding: 17px 0 8px;
    border-left: none;
    border-right: none;
  }
}

.card-optional:last-child {
  border-bottom: 1px solid @silver;
}

.card-optional__title {
  grid-area: title;
  margin-top: 0;
  margin-bottom: 12px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.card-optional__parameters {
  grid-area: parameters;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    margin-top: 2px;
    margin-bottom: 15px;
  }

  @media (min-width: @desktop-width) {
    width: 290px;
  }
}

.card-optional__termin,
.card-optional__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    margin-left: 50px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}

.card-optional__button {
  grid-area: button;
  padding: 8px 20px;
  margin-top: auto;

  @media (min-width: @desktop-width) {
    margin-top: -3px;
    margin-bottom: 9px;
    padding: 8px 26px;
  }
}
