.card {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "image title"
    "image parametrs"
    "button button";
  width: 100%;
  box-sizing: border-box;
  padding-top: 19px;
  padding-bottom: 25px;
  background-color: @white;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "image"
      "title"
      "parametrs"
      "button";
    width: 66%;
    min-width: 325px;
    max-width: 500px;
    padding: 20px 37px 39px 37px;
    .margin-auto;
    background-color: @concrete;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    min-width: 245px;
  }
}

.card--show-more {
  grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "text"
    "button";
  background-color: @white;
  border: 1px solid @concrete;
}

.card--show-more .card__title {
  width: 135px;
  margin-bottom: 23px;
  padding-top: 100px;
  text-align: center;
}

.card--show-more .card__text {
  text-align: center;
  margin-bottom: 87px;
}

.card-text {
  grid-area: text;
}

.card__image {
  grid-area: image;
  position: absolute;
  display: block;
  margin: auto;

  @media (min-width: @tablet-width) {
    position: relative;
  }
}

.card__image--small {
  top: 21px;
  left: 0;
  bottom: 0;
  right: 0;

  @media (min-width: @tablet-width) {
    top: -45px;
    width: 161px;
    height: 172px;
    margin-bottom: -11px;
  }
}

.card__image--big {
  top: 11px;
  left: 0;
  bottom: 0;
  right: 0;

  @media (min-width: @tablet-width) {
    top: -73px;
    width: 168px;
    height: 200px;
    margin-bottom: -39px;
  }
}

.card__title {
  grid-area: title;
  width: 90px;
  margin-top: 0;
  margin-bottom: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    .margin-auto;
  }
}

.card__parameters {
  grid-area: parametrs;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 0;
  margin-bottom: 22px;
}

.card__termin,
.card__description,
.card__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.card__description {
  margin-left: auto;
}

.card__button {
  grid-area: button;
  padding: 10px 20px;
}
