.cards-optional {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 35px;
  @media (min-width: @tablet-width) {
    padding-right: 30px;
    padding-left: 30px;
  }
  @media (min-width: @desktop-width) {
    padding-right: 110px;
    padding-left: 110px;
  }
}
.cards-optional__title {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}
