.case {
  padding-top: 25px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  background-color: @concrete-dark;
  @media (min-width: @tablet-width) {
    padding-right: 30px;
    padding-left: 30px;
  }
  @media (min-width: @desktop-width) {
    padding-right: 110px;
    padding-left: 110px;
  }

}

.case__wrapper {
  max-width: @max-width-mobile;
  .margin-auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "text"
    "stats"
    "price"
    "slider" ;
    @media (min-width: @tablet-width) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
      "title title"
      "text text"
      "stats price"
      "slider slider" ;
    }
    @media (min-width: @desktop-width) {
      grid-template-areas:
      "title title"
      "text slider"
      "stats slider"
      "price slider" ;
    }
}

.case__title {
  grid-area: title;
  .title
}

.case__text {
  grid-area: text;
  margin-bottom: 20px;
}

.case__stats {
  grid-area: stats;
  display: flex;
  justify-content: space-between;
  width: 280px;
  max-width: 290px;
  .margin-auto;
  margin-bottom: 20px;
}

.case__info {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
.case__result {
  margin-bottom: 9px;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.case__description {
  width: 82px;
  margin-left: 0;
  font-family:  Arial, sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: @grey-light;
  text-transform: lowercase;
  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.case__price {
  grid-area: price;
  margin-top: 0;
  margin-bottom: 40px;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: @black;
  text-align: center;
  text-transform: uppercase;
  @media (min-width: @tablet-width) {
    font-size: 20px;
  }
}

.case__slider {
  grid-area: slider;
  text-align: center;
}

.case__visualize-time {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @black;
  text-transform: uppercase;
  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
