.case {
  background-color: @concrete-dark;

  @media (min-width: @tablet-width) {
    border-top: 1px solid #e6e6e6;
  }

  @media (min-width: @desktop-width) {
    border-top: none;
  }

  &::before {
    @media (min-width: @tablet-width) {
      position: absolute;
      z-index: 1;
      content: "";
      display: block;
      width: 100%;
      height: 618px;
      background-color: @white;
    }

    @media (min-width: @desktop-width) {
      height: 160px;
    }
  }
}

.case__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "text"
    "stats"
    "price"
    "image"
    "slider";
  max-width: @max-width-mobile;
  .margin-auto;
  .padding-mobile;
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    position: relative;
    z-index: 2;
    grid-template-columns: 1fr 26%;
    grid-template-areas:
      "title title"
      "text text"
      "stats price"
      "image image"
      "slider slider";
    max-width: @max-width-tablet;
    padding-top: 42px;
    .padding-tablet;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title title"
      "text image"
      "stats image"
      "price slider";
    max-width: @max-width-desktop;
  }
}

.case__title {
  grid-area: title;
  .title;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 146px;
  }
}

.case__text {
  grid-area: text;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
  }
}

.case__stats {
  grid-area: stats;
  display: flex;
  justify-content: space-between;
  width: 280px;
  .margin-auto;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    width: 366px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 100px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 60px;
  }
}

.case__info {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 162px;
  }
}

.case__info::before {
  content: "";
  position: absolute;
  top: -11px;
  left: -21px;
  display: block;
  width: 124px;
  height: 56px;
  background-image: url("../img/info-frame.svg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    top: -15px;
    left: 0;
    width: 162px;
    height: 72px;
    background-size: 162px 72px;
  }
}

.case__result {
  margin-bottom: 9px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.case__description {
  display: block;
  width: 82px;
  margin-left: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: @grey-light;
  text-transform: lowercase;
  background-color: #eaeaea;

  @media (min-width: @tablet-width) {
    position: relative;
    z-index: 1;
    width: max-content;
    max-width: 142px;
    .margin-auto;
    padding: 0 8px;
    font-size: 14px;
    line-height: 14px;
    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    background-color: #eaeaea;
  }
}

.case__price {
  grid-area: price;
  margin-top: 0;
  margin-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: @black;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    max-width: 190px;
    margin-left: auto;
    font-size: 20px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    max-width: none;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 0;
    font-size: 20px;
    text-align: left;
  }
}

.case__image {
  grid-area: image;
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    width: 524px;
    height: auto;
    margin-right: 0;
  }

  @media (min-width: @desktop-width) {
    margin-top: -260px;
  }
}

.case__slider {
  grid-area: slider;
  display: flex;
  justify-content: space-between;
  width: 81%;
  .margin-auto;

  @media (min-width: @desktop-width) {
    align-items: flex-end;
  }
}

.case__visualize-time {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @black;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
