.form {
  .padding-mobile;
  max-width: @max-width-mobile;
  .margin-auto;

  @media (min-width: @tablet-width) {
    max-width: @max-width-tablet;
    .padding-tablet;
  }

  @media (min-width: @desktop-width) {
    max-width: @max-width-desktop;
  }
}

.form__title {
  margin-top: 27px;
  margin-bottom: 37px;
  .title;

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 56px;
  }
}

.form__description {
  width: 230px;
  margin-top: 0;
  margin-bottom: 39px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @black;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 325px;
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
  }
}

//стили fieldset
.form__group {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  border: none;
}

.form__group--info {
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 69px;
  }
}

.form__group--goal {
  padding-top: 22px;
  padding-bottom: 19px;
  margin-bottom: 26px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    margin-bottom: 75px;
    padding: 25px 28px 5px;
    border: 1px solid #d9d9d9;
  }
}

.form__group--contacts {
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    margin-bottom: 45px;
  }
}

.form__group--comments {
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
  }
}

.form__group--optional {
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 61px;
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, auto);
  }
}
//заголовки fieldset
.form__legend {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__group--contacts .form__legend {
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin-bottom: 76px;
  }
}

.form__group--comments .form__legend {
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    margin-bottom: 76px;
  }
}

.form__group--optional .form__legend {
  margin-bottom: 34px;
}

//обертка для перестроения блока с радиокнопками
.form__group-wrapper {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.form__label,
.form__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: @grey-light;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__label {
  position: relative;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }
}

.form__group--optional .form__label {
  margin-bottom: 24px;
}
//form__label
.form__label--field {
  display: flex;
  align-items: baseline;
}

.form__label--options {
  padding-left: 45px;

  @media (min-width: @tablet-width) {
    padding-left: 60px;
  }
}

.form__label--radio {
  color: @grey;
}

.form__label--check {
  color: @black;
}
//form__input
.form__input {
  flex-grow: 1;
  display: block;
  margin-left: 12px;
  padding: 13px 15px 14px;
  border: 1px solid #e7e7e7;
  border-radius: 0;
}

.form__input-goal,
.form__input-optional {
  position: relative;
  display: none;
}

.form__input::placeholder,
.form__textarea::placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: @grey-light;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__input::-webkit-outer-spin-button,
.form__input::-webkit-inner-spin-button {
  appearance: none;
}
//кастомные инпуты
.form__control {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  background-color: @white;
  border: 1px solid #cdcdcd;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form__control--radio {
  border-radius: 50%;
}

.form__control--radio::before {
  content: "";
  position: absolute;
  top: 25%;
  left: 25%;
  width: 14px;
  height: 14px;
  background-color: @green;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
  display: none;

  @media (min-width: @tablet-width) {
    width: 18px;
    height: 18px;
  }
}

.form__input-goal:checked + .form__control--radio::before {
  display: block;
}

.form__control--checkbox::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 6px;
  width: 18px;
  height: 14px;
  background-color: @white;
  background-image: url("../img/check-icon.svg");
  background-repeat: no-repeat;
  display: none;

  @media (min-width: @tablet-width) {
    top: 11px;
    left: 8px;
    width: 24px;
    height: 19px;
  }
}

.form__input-optional:checked + .form__control--checkbox::before {
  display: block;
}

.form__textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 9px 12px 9px 15px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: @grey-light;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  border-radius: 0;

  &:focus-visible {
    border-radius: 0;
  }
}

.form__button-wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 61px;
  }
}

.form__button {
  width: 100%;
  padding: 7px 20px;
  margin-bottom: 28px;
  text-align: center;
}

.form__tip {
  margin-top: 0;
  margin-bottom: 32px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  color: @black;
}
