.header {
  color: @black;
  background-color: @white;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px; //?????
    max-width: @max-width-tablet;
    .margin-auto;
    .padding-tablet;
  }

  @media (min-width: @desktop-width) {
    height: 140px;
    max-width: @max-width-desktop;
  }
}

.header--main {
  @media (min-width: @desktop-width) {
    position: relative;
    z-index: 2;
    background-color: transparent;
  }
}

.header__logo {
  display: block;
  padding: 24px 20px;
  text-align: center;
  .hover-active-opacity;
}

.header__logo img {
  width: 101px;
  height: 18px;
}
