.header {
  color: @black;
  background-color: @white;

  @media (min-width: @tablet-width) {
    .padding-tablet;
  }

  // @media (min-width: @desktop-width) {
  //   height: 140px;
  // }
}

.header--main {
  @media (min-width: @desktop-width) {
    position: relative;
    z-index: 2;
    background-color: transparent;
  }
}

.header__wrapper {
  .margin-auto;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: @max-width-tablet;
  }

  @media (min-width: @desktop-width) {
    min-width: @max-width-desktop;
    margin-top: 30px;
  }
}

.header__logo {
  position: relative;
  display: block;
  padding: 23px 20px 19px;
  text-align: center;
  text-decoration: none;
  .hov-act-focus-opacity;

  @media (min-width: @tablet-width) {
    width: 174px;
    height: 52px;
    margin-left: -20px;
  }

  @media (min-width: @desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.header__logo-img {
  width: 101px;
  height: 18px;

  @media (min-width: @tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.header__logo-mobile {
  position: absolute;
  top: 10px;
  left: 20px;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
