.map {
  width: 100%;
  height: 400px;
  background-color: #68b738a8;
}

.wrapper {
  position: relative;
  display: block;
  // min-height: 300px;
  // background-color: rgb(89, 120, 212);

  @media (min-width: @tablet-width) {
    // max-width: @max-width-tablet;
    .margin-auto;
  }

  @media (min-width: @desktop-width) {
    max-width: @max-width-desktop;
    min-height: 400px;
  }
}
