.navigation {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: @black;
  background-color: @white;

  @media (min-width: @tablet-width) {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 62%;
    max-width: 470px;
  }

  @media (min-width: @desktop-width) {
    width: 39%;
    max-width: 570px;
  }
}


.header--main .navigation {
  @media (min-width: @desktop-width) {
    background-color: transparent;
  }
}

.navigation__link {
  position: relative;
  padding-top: 22px;
  padding-bottom: 24px;
  .padding-mobile;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  color: @black;
  border-top: 1px solid @concrete-light;
  text-decoration: none;
  text-transform: uppercase;
  .hover-active-opacity;

  @media (min-width: @tablet-width) {
    padding-right: 0;
    padding-left: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    border: none;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
    color: @black;
  }
}

.header--main .navigation__link {
  @media (min-width: @desktop-width) {
    color: @white;
  }
}

.navigation__link--current::after {
  @media (min-width: @desktop-width) {
    content: "";
    position: absolute;
    top: 55px;
    display: block;
    width: 100%;
    height: 2px;
    background-color: @green;
  }
}

.header--main .navigation__link--current::after {
  background-color: @white;
}

.navigation__toggle {
  display: none;
}

@media (max-width: @mobile-width-only) {
  .navigation__toggle {
    position: absolute;
    top: -59px;
    right: 8px;
    display: block;
    width: 52px;
    height: 48px;
    background-color: @white;
    cursor: pointer;
    border: none;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  .navigation--opened .navigation__toggle {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 22px;
      right: 12px;
      width: 24.8px;
      height: 1.5px;
      background-color: @black;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .navigation--closed {
    & .navigation__toggle::before {
      content: "";
      position: absolute;
      top: 16px;
      right: 12px;
      width: 24px;
      height: 2px;
      background-color: @black;
      box-shadow: 0 8px 0 0 @black, 0 16px 0 0 @black;
    }

    & .navigation__link {
      display: none;
    }
  }
}

.navigation--nojs .navigation__toggle {
  display: none;
}

.navigation--nojs {
  position: static;
}
