.partnership {
  padding-top: 26px;
  padding-right: 20px;
  padding-bottom: 26px;
  padding-left: 20px;
  background-color: @concrete;
  @media (min-width: @tablet-width) {
    padding-right: 30px;
    padding-left: 30px;
  }
  @media (min-width: @desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 565px;
    background-color: @white;
  }
}

.partnership--index {
  background-color: @white;
}

.partnership__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: @max-width-mobile;
  .margin-auto;
  @media (min-width: @tablet-width) {
    max-width: @max-width-tablet;
  }
}

.partnership__title {
  width: 140px;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.partnership__text {
  width: 140px;
  font-family:  Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: @grey-light;
  @media (min-width: @tablet-width) {
    text-align: right;
  }
  @media (min-width: @desktop-width) {
    text-align: left;
  }
}
