.programs {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.programs__item {
  width: 100%;
  color: @black;
  background-color: @concrete;
  @media (min-width: @desktop-width) {
    width: 47%;
  }
}

.programs__title {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: @black;
  text-transform: uppercase;
  @media (min-width: @desktop-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.programs__link {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: @black;
  text-transform: uppercase;
  text-decoration: none;
  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
