.programs__item {
  background-color: @concrete;
}

.programs__title {
  color: @black;
  text-transform: uppercase;
}

.programs__link {
  font-size: 16px;
  line-height: 16px;
  color: @black;
  text-transform: uppercase;
  text-decoration: none;
}
