.promo {
  position: relative;
  box-sizing: border-box;
  min-height: 290px;
  margin-bottom: 35px;
  padding: 30px; //временно
  max-width: @max-width-mobile;
  .margin-auto;
  background-color: @green;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/promo-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/promo-bg-mobile@2x.jpg");
    background-size: auto auto;
    background-size: cover;
  }

  @media (min-width: @tablet-width) {
    max-width: @max-width-tablet;
    min-height: 200px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/promo-bg-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/promo-bg-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 289px;
    margin-top: 118px;
    margin-bottom: auto;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/promo-bg-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/promo-bg-desktop@2x.jpg");
    }
  }
}

// .promo::before {
//   position: absolute;
// 	top: 0;
// 	left: 0;
//   content: "";
//   display: block;
// 	width: 100%;
// 	height: 100%;
// 	background-image: linear-gradient(rgba(93, 114, 80, 0.85), rgba(206, 182, 104, 0.473));
// }

.promo__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @white;
}
