.promo {
  background-color: @green;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)) , url(../../img/promo-background.jpg);
  background-repeat: no-repeat;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 35px;
  padding: 30px; //временно
  @media (min-width: @tablet-width) {
    margin-left: 30px;
    margin-right: 30px;
  }
  @media (min-width: @desktop-width) {

  }
}
.promo__text {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @white;
}
