.welcome {
  position: relative;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: auto 300px;
  background-position: center;

  @media (min-width: @tablet-width) {
    min-height: 810px;
    margin-bottom: 0;
    padding-top: 20px;
    color: @black;
    background-image: none;
    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    position: static;
    height: 585px;
    box-sizing: border-box;
    margin-bottom: 82px;
    // padding-right: 110px;
    // padding-left: 110px;
  }
  //кот на фоне
  &::before {
    content: "";
    position: absolute;
    z-index: -3;
    width: 100%;
    height: 302px;
    background-image: url("../img/index-background-mobile.jpg");
    background-color: @green;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
      background-size: cover;
    }

    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      z-index: 0;
      top: 0;
      right: 0;
      display: block;
      width: 50%;
      height: 694px;
      background-image: url("../img/index-background-desktop.jpg");
      background-repeat: no-repeat;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: cover;
        background-position: center;
      }
    }
  }
  //зеленое размытие
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    z-index: -2;
    width: 100%;
    height: 302px;
    background-color: rgba(104, 183, 56, 0.85);

    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      z-index: 1;
      right: 0;
      display: block;
      width: 50%;
      height: 694px;
    }
  }
}

.welcome__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: @max-width-mobile;
  padding-top: 27px;
  .padding-mobile;
  .margin-auto;

  @media (min-width: @tablet-width) {
    z-index: 1;
    align-items: stretch;
    max-width: @max-width-tablet;
    min-height: 810px;
    padding-left: 117px;
  }

  @media (min-width: @desktop-width) {
    z-index: 2;
    max-width: @max-width-desktop;
    margin-bottom: 0;
  }
}

//банка корма
.welcome__wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 42px;
  width: 100%;
  height: 270px;
  background-image: url("../img/welcome-can-mobile.png");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/welcome-can-mobile@2x.png");
    background-size: 280px auto;
  }

  @media (min-width: @tablet-width) {
    display: block;
    z-index: -1;
    bottom: 0;
    width: 709px;
    height: 609px;
    background-size: cover;
    background-image: url("../img/welcome-can-tablet.png");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/welcome-can-tablet@2x.png");
      background-size: 709px auto;
    }
  }

  @media (min-width: @desktop-width) {
    top: -32px;
    bottom: auto;
    left: 40px;
    width: 552px;
    height: 499px;
    background-image: url("../img/welcome-can-desktop.png");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/welcome-can-desktop@2x.png");
      background-size: 552px auto;
    }
  }
}


.welcome__title {
  width: 250px;
  margin-bottom: 25px;
  text-align: center;
  color: @white;
  .title;

  @media (min-width: @tablet-width) {
    width: 415px;
    margin-bottom: 41px;
    text-align: left;
    color: @black;
  }
}

.welcome__slogan {
  margin-top: 0;
  margin-bottom: 303px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: @white;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-bottom: 48px;
    margin-left: 2px;
    font-size: 20px;
    line-height: 20px;
    color: @black;
  }
}

.welcome__button {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px 11px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    width: 244px;
    padding: 17px 26px;
    margin-left: 3px;
    font-size: 20px;
    line-height: 20px;
  }
}
