.welcome {
  background-color: @green;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)) , url(../../img/index-background-desktop.jpg);
  background-repeat: no-repeat;
}

.welcome__title {
  color: @white;
}

.welcome__slogan {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: @white;
  text-transform: uppercase;
}

.welcome__button {
  font-size: 14px;
  line-height: 18px;
}
